.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #f05f44;
    border-color: transparent;
    border-width: 4px;
}

.btn-primary:hover {
    background-color: #ee4b08!important;
    border-color: #c7b4ad!important;
    border-width: 4px;
}

.btn-main {
    padding: 1rem 2rem;
}


.btn-primary:focus{
    background-color: #ee4b08;
    border-color: #a03a15!important;
    outline: none;
    box-shadow: none;
  }
  
.btn-primary:active{
    background-color: #a03a15!important;
    border-color: #a03a15!important;
    outline: none;
    box-shadow: none;
    outline: none;
  }

  .btn-primary:active:focus{
    background-color: #a03a15!important;
    border-color: #a03a15!important;
    outline: none;
    box-shadow: none!important;
  }